* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Holtwood One SC", serif;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#minicircle {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 99999;
  border-radius: 50%;
  background-color: #fff;
}

.bounding {
  width: fit-content;
  overflow: hidden;
}

.boundingelem {
  transform: translateY(100%);
}

#main {
  width: 100%;
  background-color: black;
}

#hero {
  position: relative;
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: black;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  color: #fff;
}

#nav a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

#heading {
  margin-top: 90px;
}

#heading h1 {
  margin-left: 30px;
  opacity: 0.6;
  line-height: 1;
  /* font-family: "DM Sans Regular", sans-serif; */
  font-size: 10vw;
  text-transform: uppercase;
  /* font-weight: 900; */
}

#heading #secondh1 {
  margin-left: 230px;
}

.blocktext {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
}

.blocktext h5 {
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
}

#smallheading {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 100px;
  padding-right: 50px;
}

#smallheading h5 {
  margin-top: 0.5vw;
  font-size: 1vw;
  text-align: right;
  text-transform: uppercase;
}

#herofooter {
  padding: 0 2vw;
  width: 100%;
  position: absolute;
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github {
  text-decoration: none;
}

#herofooter a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

#herofooter #iconset {
  display: flex;
  gap: 5px;
}

#herofooter .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888;
}

#second {
  color: #fff;
  padding-right: 10vw;
  padding-top: 50px;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3.5vw 3vw;
  padding-right: 0;
  border-top: 1px solid #888;
}

.elem h1 {
  text-transform: uppercase;
  font-size: 7.5vw;
  opacity: 0.7;
}

.elemlast {
  border-bottom: 1px solid #888;
}

.elem img {
  opacity: 0;
  height: 100%;
  z-index: 999;
  position: absolute;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  color: #fff;
  padding: 10vw 10vw;
  padding-left: 40vw;
  width: 100%;
  background-color: black;
}

.about img {
  width: 200px;
}

.textabout {
  width: 30rem;
}

.textabout h5 {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 10px;
}

.textabout p {
  line-height: 1.7;
  margin-bottom: 30px;
}

.textabout a {
  padding: 12px 22px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.subscribe {
  padding-bottom: 7vw;
  color: #fff;
  padding: 20px 30px;
  background-color: black;
}

.subscribe h5 {
  text-transform: uppercase;
  opacity: 0.6;
}

.subscribe h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}

.footer {
  color: #fff;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
}

.footerright {
  display: flex;
  gap: 30px;
}

.footerleft {
  display: flex;
  gap: 20px;
}

.footer a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  #heading h1 {
    font-size: 5vw; 
  }

}

@media only screen and (max-width: 480px) {
  #heading h1 {
    font-size: 4vw;
  }

  /* Adjustments for other elements */
}
